<form action="/submit" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name"><br/>
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name"><br/>
  <label for="phone_number">Phone Number:</label>
  <input type="text" id="phone_number" name="phone_number"><br/>
  <input type="submit" value="submit">
</form>
